<h2>All Pets</h2>

<div>
  <label>Pet name:</label> <input #petName/>
  <button (click)="add(petName.value); petName.value=''">Add</button>
</div>

<ul class="pets">
  <li *ngFor="let pet of pets" [class.selected]="pet === selectedPet" (click)="onSelect(pet)">
    <span class="badge">{{pet.id}}</span>
    <span>{{pet.name}}</span>
    <button class="delete" (click)="delete(pet); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedPet">
  <h2>
    {{selectedPet.name | uppercase}} is my pet
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
